<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://asliceofcolumbia.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>asliceofcolumbia</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$asliceofcolumbia</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ASliceOfColumbiaEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:e7qph1ifm5.database.windows.net,1433;Initial Catalog=asliceofcolumbia_db;User ID=jcbench_sa@e7qph1ifm5;Password=jarred43v3R!" Name="Data Source=tcp:e7qph1ifm5.database.windows.net,1433;Initial Catalog=asliceofcolumbia_db;User Id=jcbench_sa@e7qph1ifm5;Password=jarred43v3R!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ASliceOfColumbia.Web.Entities.ASliceOfColumbiaEntities, ASliceOfColumbia.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ASliceOfColumbiaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Entities.ASliceOfColumbiaModel.csdl|res://*/Entities.ASliceOfColumbiaModel.ssdl|res://*/Entities.ASliceOfColumbiaModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:e7qph1ifm5.database.windows.net,1433;Initial Catalog=asliceofcolumbia_db;User Id=jcbench_sa@e7qph1ifm5;Password=jarred43v3R!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>